page-home {

    .profile{
        border-radius:10px !important;
        color:#f7e706;
        border-radius: 5px;
        box-shadow: inset 0 0 1em gold; 
        background-color: #dc143c !important;
    }

    #map{
        width:100%;
    }
    .map-overlay {
        position: absolute;
        top: 5px;
        left:5px;
        right: 5px;
    }

    .btnCenter{
        vertical-align: center;
    }

}
